.conteiner{
  margin: 0 auto;
  width: auto;
  padding: 0 .75rem; 
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

 /* 
a.text:active, /* активная/посещенная ссылка 
a.text:hover,  /* при наведении 
a.text {
  text-decoration: none;
}*/
.header_osn {
  position: fixed;
  display: block;
  left: 0;
  top:0;
  right: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .conteiner_top{
    display: flex;
    width: 100%;
    background: #274646;
    height: 54px;
    /*align-items: center;*/
    /*justify-self: center;*/
    /*text-align: center;*/ 
    font-weight: 700;
    }
    .head_left{
        position: relative;
        display:flex;
        width: auto;
        height: inherit;
       /* gap: 28px;*/
        align-items: center;
        justify-self: center;
       }
    .head_right{
      position: relative;
      display:flex;
      width: auto;
      height: inherit;
      
      align-items: center;
      justify-self: center;
    }
    .navbur{
    margin-left: 316px;
        }
    img {
            max-width: 100%;
            display: block;
        }
    .logomax{
        margin-left: 44px;
    }
    .telephone{
        margin-left: 24px;
        font-size: 16px;
        line-height: 16px;
        color: #A0A0A0; 
    }
    .mapicon{
        margin-left: 33px;
    }
    .addres_top{
        margin-left: 9px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #FFE091; 
    }
    .shicon{
        margin-left: 580px;
     }
    .shimigi{
        margin-left: 9px;
        display:flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        color: #FFBDC8; 
    }
    .bagshop{
        padding-left: 30px;
    }
    .red_namber{
        display: inline-block;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
        background: #B20D30;
        width:18px;
        height:18px;
        line-height: 18px;
        border-radius: 50%;
        padding-left: 1px;
    }
    .prisebag{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        padding-left: 8px;
    }

/*.navmenu_mid {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1295px;
  height: 46px;
  font-weight: 700;
 /* border-bottom: 1px solid #E5E5E5;
  }*/
  .navmenu_mid{
    margin-top: 54px;
    display: flex;
    height: 52px;
    gap: 48px;
    overflow: auto;
    /*white-space: nowrap;*/
    border-bottom: 1px solid #E5E5E5;
}   

.navmenu_mid::-webkit-scrollbar {
    display:none;
} 


.navmenu_mid ul,  
.navmenu_mid ol{
 list-style: none;
}  
.navmenu_low,  
  .navmenu_mid *{
    margin: 0;
    padding: 0;
   }
   .navmenu_low
   .navmenu_mid > ul{
   display:inline-flex;
   justify-content:space-between;
   flex-direction: row;
  }

  .navmenu_mid > ul,
  ul li,
  ul li a{
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    width: 100%;
    background: #fcfffb;
    font-size: 16px;
    color: #454547;
    text-decoration: none;
    text-emphasis: none;
    
   }    
  
   .headermid_line {
    width: 1295px;
    top: 104px;
    position: fixed;
    border: 1px solid #E5E5E5;/*
    
    /* Inside auto layout */
    order: 1;
    justify-content: center;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
  }

  /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей 
a:not([class]) {
  text-decoration-skip-ink: auto;
}*/

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

}
.navmenu_mid li a:hover{
  /*transition: all 0.3s ease;*/
 line-height:normal 3px solid #274646;
 z-index: 2;

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.container {
  margin: 0 auto;
  width: auto;
  padding: 0 .75rem;
  }
  
  @media (min-width: 576px) {
  .container {
  max-width: 540px;
  padding: 0;
  }
  }
  
  @media (min-width: 768px) {
  .container {
  max-width: 720px;
  }
  }
  
  @media (min-width: 992px) {
  .container {
  max-width: 960px;
  }
  }
  
  @media (min-width: 1200px) {
  .container {
  max-width: 1140px;
  }
  }
  
  @media (min-width:1400px) {
  .container {
  max-width: 1320px;
  }
  }