li a:hover{
  background: #0000f8;
  color: #ffffff;
  /*transition: all 0.3s ease;*/
  border-bottom: 3px solid #274646;

 }    

header {
  position: fixed;
  /*display: flexbox;*/
  width: 100%;
  height: 158px;  
  }


.navmenu_mid {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: flex;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1295px;
  height: 46px;
  }

  .navmenu_mid ul,  
.navmenu_mid ol{
 list-style: none;
}    
  .navmenu_mid *{
    margin: 0;
    padding: 0;
   }
   .navmenu_mid > ul{
   display: inline-flex;
   justify-content: center;
  }

  .navmenu_mid > ul li a{
    display: block;
    background: #fcfffb;
    padding: 14px 22px;
    text-emphasis: none;
    font-size: 16px;
    color: #454547;
    text-decoration: none;

    
   }    
   .headermid_line {
    width: 1295px;
    top: 103px;
    position: fixed;
    border: 1px solid #E5E5E5;
    
    /* Inside auto layout */
    order: 1;
    justify-content: center;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
  }

  /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей 
a:not([class]) {
  text-decoration-skip-ink: auto;
}*/

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}